!!! 5
html
  head
    title= title + ' - Tube Trains'

    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/site.css')

    script(type='text/javascript', src='/javascripts/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/javascripts/raphael-1.5.2.min.js')
    script(type='text/javascript', src='/browserify.js')
  body
    #header.tube
      a(href='/') Tube Trains

    #content!= body