// Tube colours, as used by TfL.
// Details are from http://www.tfl.gov.uk/assets/downloads/corporate/tfl-colour-standard-issue03.pdf

corporate-blue = rgb(0, 25, 168)

line(color, background-color)
  color            color
  background-color background-color
  a
    text-decoration  none
    &:link
    &:visited
      color          color

.bakerloo
  line(white, rgb(137, 78, 36))

.central
  line(white, rgb(220, 36, 31))

.circle
  line(corporate-blue, rgb(255, 206, 0))

.district
  line(white, rgb(0, 113, 41))

.hammersmith-city
  line(corporate-blue, rgb(215, 153, 175))

.jubilee
  line(white, rgb(134, 143, 152))

.metropolitan
  line(white, rgb(117, 16, 86))

.northern
  line(white, rgb(0, 0, 0))

.piccadilly
  line(white, rgb(0, 25, 168))

.victoria
  line(white, rgb(0, 160, 226))

.waterloo-city
  line(corporate-blue, rgb(118, 208, 189))
