@import "colours"

@font-face
  font-family London-Tube
  font-style normal
  src url(/fonts/London-Tube.ttf)

body
  font             16px "Lucida Grande", Helvetica, Arial, sans-serif
  padding          1em

h1
  font-size        2em
  font-weight      bold
  margin           0.3em 0 0.5em 0

a
  color            #00B7FF

.tube
  font-family      London-Tube

.flag-box
  text-align       center
  font-size        1.3em
  a
    display block

div.lines
  display inline-block
  padding 0
  .flag-box
    margin 0 0 0.3em 0
    a
      padding 0.1em 1em 0.2em 1em
